@use "@shared/utilities/animation" as animation;
@use "@shared/utilities/clock" as clock;
@use "@shared/utilities/path" as path;
@use "@shared/utilities/unitCircle" as unit-circle;


$inside-radius: 75;
$outside-radius: 145;

@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

.simplified-label-inside {
  offset-rotate: 0deg;

  @for $hour from 0 through 11 {
    &.hour-#{$hour} {
      offset-path: path.still-path(clock.point($inside-radius, $hour));
    }
  }

  @for $hour-a from 0 through 11 {
    $hour-b: unit-circle.hour($hour-a + 1);

    &.move-from-#{$hour-a}-to-#{$hour-b} {
      animation: move animation.$duration ease-in-out 1 forwards;
      offset-path: path.cw-arc-path($inside-radius, $hour-a, 1);
    }
  }

  @for $hour-a from 0 through 11 {
    $hour-b: unit-circle.hour($hour-a + 5);

    &.move-from-#{$hour-a}-to-#{$hour-b} {
      animation: move animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(clock.point($inside-radius, $hour-a), clock.point($inside-radius, $hour-b));
    }
  }

  @for $hour-a from 0 through 11 {
    $hour-b: unit-circle.hour($hour-a + 6);

    &.move-from-#{$hour-a}-to-#{$hour-b} {
      animation: move animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(clock.point($inside-radius, $hour-a), clock.point($inside-radius, $hour-b));
    }
  }

  @for $hour-a from 0 through 11 {
    $hour-b: unit-circle.hour($hour-a + 7);

    &.move-from-#{$hour-a}-to-#{$hour-b} {
      animation: move animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(clock.point($inside-radius, $hour-a), clock.point($inside-radius, $hour-b));
    }
  }

  @for $hour-a from 0 through 11 {
    $hour-b: unit-circle.hour($hour-a + 11);

    &.move-from-#{$hour-a}-to-#{$hour-b} {
      animation: move animation.$duration ease-in-out 1 forwards;
      offset-path: path.ccw-arc-path($inside-radius, $hour-a, 1);
    }
  }
}

.simplified-label-outside {
  offset-rotate: 0deg;

  @for $hour from 0 through 11 {
    &.hour-#{$hour} {
      offset-path: path.still-path(clock.point($outside-radius, $hour));
    }
  }

  @for $hour-a from 0 through 11 {
    $hour-b: unit-circle.hour($hour-a + 1);

    &.move-from-#{$hour-a}-to-#{$hour-b} {
      animation: move animation.$duration ease-in-out 1 forwards;
      offset-path: path.cw-arc-path($outside-radius, $hour-a, 1);
    }
  }

  @for $hour-a from 0 through 11 {
    $hour-b: unit-circle.hour($hour-a + 5);

    &.move-from-#{$hour-a}-to-#{$hour-b} {
      animation: move animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(clock.point($outside-radius, $hour-a), clock.point($outside-radius, $hour-b));
    }
  }

  @for $hour-a from 0 through 11 {
    $hour-b: unit-circle.hour($hour-a + 6);

    &.move-from-#{$hour-a}-to-#{$hour-b} {
      animation: move animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(clock.point($outside-radius, $hour-a), clock.point($outside-radius, $hour-b));
    }
  }

  @for $hour-a from 0 through 11 {
    $hour-b: unit-circle.hour($hour-a + 7);

    &.move-from-#{$hour-a}-to-#{$hour-b} {
      animation: move animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(clock.point($outside-radius, $hour-a), clock.point($outside-radius, $hour-b));
    }
  }

  @for $hour-a from 0 through 11 {
    $hour-b: unit-circle.hour($hour-a + 11);

    &.move-from-#{$hour-a}-to-#{$hour-b} {
      animation: move animation.$duration ease-in-out 1 forwards;
      offset-path: path.ccw-arc-path($outside-radius, $hour-a, 1);
    }
  }
}

.width-1 {
  offset-path: path("M -5 5");
}
