body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  margin: 20px 40px;
}

.title {
  margin: 10px 0 14px 0;
  font-size: 24pt;
  font-weight: bold;
}

.instructions {
  margin: 6px 0 6px 0;
  font-style: italic;
}
