body {
  margin: 0 15px;
  font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #111111;
  background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-bottom: 10px;
}

p {
  font-weight: normal;
  margin: 0 0 10px 0;
}

a {
  color: #2a7ae2;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.page-content {
  max-width: 600px;
  margin: 28px auto 100px auto;
}

.title {
  margin: 10px 0 10px 0;
  font-size: 36px;
}

.instructions {
  margin: 6px 0;
  font-style: italic;
}

#scales-tool-mount-point {
  margin-bottom: 60px;
}

.cover {
  display: block;
  margin: 40px 0;
  padding: 0;
}
