.key-description-label {
  grid-row: 1;
  grid-column: 1;
  text-align: right;
  font-weight: bold;
}

.key-description-content {
  grid-row: 1;
  grid-column: 2;
}

.note-font {
  font-family: "PT Mono", monospace;
}
