.mode-note-label {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  align-items: center;
  text-align: right;
  font-weight: bold;
}

.mode-note-content {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mode-note-text {
  width: 45px;
  text-align: center;
  font-family: "PT Mono", monospace;
}
