.root-note-label {
  grid-row: 4;
  grid-column: 1;
  display: grid;
  align-items: center;
  text-align: right;
  font-weight: bold;
}

.root-note-content {
  grid-row: 4;
  grid-column: 2;
  font-family: "PT Mono", monospace;
}
