.canvas {
  display: block;
}

.assembled-rank-dial {
  offset-path: path("M 40 182");
}

.rotate-button-ccw {
  offset-path: path("M 160 145");
}

.clock {
  offset-path: path("M 350 145");
}

.caption {
  offset-path: path("M 350 305");
}

.rotate-button-cw {
  offset-path: path("M 540 145");
}
