.canvas {
  display: block;
}

.assembled-rank-dial {
  offset-path: path("M 550 182");
}

.rotate-button-ccw {
  offset-path: path("M 40 145");
}

.clock {
  offset-path: path("M 230 145");
}

.caption {
  offset-path: path("M 230 305");
}

.rotate-button-cw {
  offset-path: path("M 420 145");
}
