@use "@/utilities/animation" as animation;


@keyframes move-root-selector {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}


.root-selector {
  offset-path: path("M -26 0");
}

.label {
  font-weight: 500;
}

.root-selector-inner {
  offset-path: path("M 0 5");
  offset-rotate: 0deg;

  &.move-up {
    animation: move-root-selector animation.$duration ease-in-out 1 forwards;
    offset-path: path("M 0 5 L 0 -25");
  }

  &.move-down {
    animation: move-root-selector animation.$duration ease-in-out 1 forwards;
    offset-path: path("M 0 5 L 0 35");
  }
}
