.rectangle {
  stroke-width: 2;
  stroke: rgb(255, 165, 0);
  fill: rgba(255, 255, 255, 0);
  user-select: none;
  cursor: pointer;

  &.active {
    fill: rgba(255, 165, 0, 0.15);
    cursor: default;
  }

  &.waiting {
    fill: rgba(255, 255, 255, 0);
    cursor: default;
  }

  &.disabled {
    stroke: rgb(166, 139, 89);
    fill: rgba(156, 136, 99, 0.5);
    cursor: default;
  }
}

.dashed-line {
  stroke-width: 2;
  stroke: rgb(180, 130, 130);
  stroke-dasharray: 4, 3;
}

.nudge-icon-left {
  offset-path: path("M -21 0");
}

.nudge-icon-right {
  offset-path: path("M 21 0");
}
