.top-top-left {
  offset-path: path("M -52 -204");
}

.top-top-right {
  offset-path: path("M 26 -204");
}

.top-bottom-left {
  offset-path: path("M -26 -158");
}

.top-bottom-right {
  offset-path: path("M 52 -158");
}

.bottom-top-left {
  offset-path: path("M -26 135");
}

.bottom-top-right {
  offset-path: path("M 52 135");
}

.bottom-bottom-left {
  offset-path: path("M -52 181");
}

.bottom-bottom-right {
  offset-path: path("M 26 181");
}
