.upper-top-left {
  offset-path: path("M -26 -204");
}

.upper-top-right {
  offset-path: path("M 52 -204");
}

.upper-bottom-left {
  offset-path: path("M -52 -158");
}

.upper-bottom-right {
  offset-path: path("M 26 -158");
}

.lower-top-left {
  offset-path: path("M -52 135");
}

.lower-top-right {
  offset-path: path("M 26 135");
}

.lower-bottom-left {
  offset-path: path("M -26 181");
}

.lower-bottom-right {
  offset-path: path("M 52 181");
}
