@use "@/utilities/animation" as animation;
@use "@/utilities/position" as position;


.mode-selector {
  offset-path: path("M -50 0");
}

.root-selector {
  offset-path: path("M 0 0");
}

.degree-selector {
  offset-path: path("M 50 0");
}

.label {
  offset-path: path("M 0 -115");
  text-anchor: middle;
  font-weight: 500;
}

@keyframes move-selector-inner {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

.selector-inner {
  offset-path: path("M 0 5");
  offset-rotate: 0deg;

  &.move-up {
    animation: move-selector-inner animation.$duration ease-in-out 1 forwards;
    offset-path: path("M 0 5 L 0 -25");
  }

  &.move-down {
    animation: move-selector-inner animation.$duration ease-in-out 1 forwards;
    offset-path: path("M 0 5 L 0 35");
  }
}

$unselected: 0.5;
$selected: 1;

@keyframes fade-from-unselected-to-selected {
  0% {
    opacity: $unselected;
  }
  40% {
    opacity: $unselected;
  }
  100% {
    opacity: $selected;
  }
}

.selector-value {
  offset-rotate: 0deg;

  @for $position from -4 through 4 {
    &.position-#{$position} {
      offset-path: position.position-still-path($position);
    }
  }

  &.unselected {
    opacity: $unselected;
  }

  &.selected {
    opacity: $selected;
  }

  &.fade-from-unselected-to-selected {
    animation: fade-from-unselected-to-selected animation.$duration linear 1 forwards;
  }

  &.fade-from-selected-to-unselected {
    animation: fade-from-unselected-to-selected animation.$duration linear 1 forwards reverse;
  }
}
