.button {
  &.DecrementDoPosition {
    offset-path: path("M -27 146")
  }

  &.DecrementKeyDegree {
    offset-path: path("M 27 146")
  }

  &.IncrementDoPosition {
    offset-path: path("M -27 -146")
  }

  &.IncrementKeyDegree {
    offset-path: path("M 27 -146")
  }

  &.DecrementBoth {
    offset-path: path("M 0 194")
  }

  &.IncrementBoth {
    offset-path: path("M 0 -194")
  }
}

.rectangle {
  rx: 8;
  ry: 8;
  stroke-width: 2;
  stroke: rgb(255, 165, 0);
  fill: rgba(255, 255, 255, 0);
  cursor: pointer;

  &.waiting {
    cursor: default;
  }

  &.disabled {
    stroke: rgb(166, 139, 89);
    fill: rgba(156, 136, 99, 0.5);
    cursor: default;
  }

  &.DecrementDoPosition,
  &.IncrementDoPosition,
  &.DecrementKeyDegree,
  &.IncrementKeyDegree {
    x: -23;
    y: -20;
    width: 46px;
    height: 40px;
  }

  &.DecrementBoth,
  &.IncrementBoth {
    x: -50;
    y: -20;
    width: 100px;
    height: 40px;
  }
}
