.button {
  &.DecrementLeft {
    offset-path: path("M -27 146")
  }

  &.DecrementRight {
    offset-path: path("M 27 146")
  }

  &.IncrementLeft {
    offset-path: path("M -27 -146")
  }

  &.IncrementRight {
    offset-path: path("M 27 -146")
  }

  &.DecrementBoth {
    offset-path: path("M 0 194")
  }

  &.IncrementBoth {
    offset-path: path("M 0 -194")
  }
}

.button-rectangle {
  cursor: pointer;
  stroke-width: 2;
  stroke: rgb(255, 165, 0);
  fill: rgba(255, 255, 255, 0);

  &.waiting {
    cursor: default;
  }

  &.disabled {
    cursor: default;
    stroke: rgb(166, 139, 89);
    fill: rgba(156, 136, 99, 0.5);
  }
}
