@value duration-motion, color-blue from "../../constants.css";

@keyframes move-located-solfege {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

.solfege-text {
  text-anchor: end;
}

.located-solfege {
  offset-rotate: 0deg;
  font-family: "PT Mono", monospace;

  &.root {
    stroke: color-blue;
  }

  &.location-0 {
    offset-path: path("M -4 -100");
  }

  &.location-1 {
    offset-path: path("M -4 -65");
  }

  &.location-2 {
    offset-path: path("M -4 -30");
  }

  &.location-3 {
    offset-path: path("M -4 5");
  }

  &.location-4 {
    offset-path: path("M -4 40");
  }

  &.location-5 {
    offset-path: path("M -4 75");
  }

  &.location-6 {
    offset-path: path("M -4 110");
  }

  &.move {
    animation: move-located-solfege duration-motion ease-in-out 1 forwards;

    &.from--1-to-0 {
      offset-path: path("M -4 -135 L -4 -100");
    }

    &.from-0-to-1 {
      offset-path: path("M -4 -100 L -4 -65");
    }

    &.from-1-to-2 {
      offset-path: path("M -4 -65 L -4 -30");
    }

    &.from-2-to-3 {
      offset-path: path("M -4 -30 L -4 5");
    }

    &.from-3-to-4 {
      offset-path: path("M -4 5 L -4 40");
    }

    &.from-4-to-5 {
      offset-path: path("M -4 40 L -4 75");
    }

    &.from-5-to-6 {
      offset-path: path("M -4 75 L -4 110");
    }

    &.from-6-to-7 {
      offset-path: path("M -4 110 L -4 145");
    }

    &.from-7-to-6 {
      offset-path: path("M -4 145 L -4 110");
    }

    &.from-6-to-5 {
      offset-path: path("M -4 110 L -4 75");
    }

    &.from-5-to-4 {
      offset-path: path("M -4 75 L -4 40");
    }

    &.from-4-to-3 {
      offset-path: path("M -4 40 L -4 5");
    }

    &.from-3-to-2 {
      offset-path: path("M -4 5 L -4 -30");
    }

    &.from-2-to-1 {
      offset-path: path("M -4 -30 L -4 -65");
    }

    &.from-1-to-0 {
      offset-path: path("M -4 -65 L -4 -100");
    }

    &.from-0-to--1 {
      offset-path: path("M -4 -100 L -4 -135");
    }
  }
}
