@value duration-motion from "../../config.css";

@keyframes fading-in {
  0% {
    opacity: 0.24;
  }
  60% {
    opacity: 0.24;
  }
  100% {
    opacity: 1;
  }
}

.mode-label {
  opacity: 0.24;
  offset-rotate: 0deg;

  &.selected {
    opacity: 1;
  }

  &.fading-in {
    animation: fading-in duration-motion linear 1 forwards;
  }

  &.fading-out {
    animation: fading-in duration-motion linear 1 forwards reverse;
  }

  &.position-3 {
    offset-path: path("M 0 -99");
  }

  &.position-2 {
    offset-path: path("M 0 -66");
  }

  &.position-1 {
    offset-path: path("M 0 -33");
  }

  &.position-0 {
    offset-path: path("M 0 0");
  }

  &.position--1 {
    offset-path: path("M 0 33");
  }

  &.position--2 {
    offset-path: path("M 0 66");
  }

  &.position--3 {
    offset-path: path("M 0 99");
  }
}
