@use "@/shared-css/animation" as animation;


@keyframes move-solfeges-slider {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}


.mode-slider {
  offset-path: path("M -28 0");
}

.mode-slider-inner {
  offset-path: path("M 0 5");
  offset-rotate: 0deg;

  &.move-down {
    animation: move-solfeges-slider animation.$duration ease-in-out 1 forwards;
    offset-path: path("M 0 5 L 0 38");
  }

  &.move-up {
    animation: move-solfeges-slider animation.$duration ease-in-out 1 forwards;
    offset-path: path("M 0 5 L 0 -28");
  }
}
