.mode-label {
  offset-rotate: 0deg;

  &.position-3 {
    offset-path: path("M 0 -99");
  }

  &.position-2 {
    offset-path: path("M 0 -66");
  }

  &.position-1 {
    offset-path: path("M 0 -33");
  }

  &.position-0 {
    offset-path: path("M 0 0");
  }

  &.position--1 {
    offset-path: path("M 0 33");
  }

  &.position--2 {
    offset-path: path("M 0 66");
  }

  &.position--3 {
    offset-path: path("M 0 99");
  }
}
