@use "@/shared-css/animation" as animation;
@use "@/shared-css/position" as position;


@keyframes fading-in {
  0% {
    opacity: 0.24;
  }
  60% {
    opacity: 0.24;
  }
  100% {
    opacity: 1;
  }
}


.mode-label {
  opacity: 0.24;
  offset-rotate: 0deg;

  &.selected {
    opacity: 1;
  }

  &.fading-in {
    animation: fading-in animation.$duration linear 1 forwards;
  }

  &.fading-out {
    animation: fading-in animation.$duration linear 1 forwards reverse;
  }

  @for $position from -3 through 3 {
    &.position-#{$position} {
      offset-path: position.position-still-path($position);
    }
  }
}
