@use "@/shared-css/position" as position;


.note-text {
  text-anchor: middle;
}

.note-on-slider {
  offset-rotate: 0deg;
  font-family: "PT Mono", monospace;

  @for $p from -4 through 4 {
    &.position-#{$p} {
      offset-path: position.position-still-path($p);
    }
  }
}
