@value duration-motion from "../../constants.css";

@keyframes move-note-on-slider {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

.note-text {
  text-anchor: middle;
}

/*
WARNING: Be careful not confuse position-3 with position--3.
The first represents position 3 (the top of the slider), and
the second represents position -3 (the bottom of the slider).
Positions 4 and -4 are just outside of the clipping region.
*/

.note-on-slider {
  font-family: "PT Mono", monospace;
  offset-rotate: 0deg;

  &.position-4 {
    offset-path: path("M -27 -127");
    visibility: hidden;
  }

  &.position-3 {
    offset-path: path("M -27 -94");
  }

  &.position-2 {
    offset-path: path("M -27 -61");
  }

  &.position-1 {
    offset-path: path("M -27 -28");
  }

  &.position-0 {
    offset-path: path("M -27 5");
  }

  &.position--1 {
    offset-path: path("M -27 38");
  }

  &.position--2 {
    offset-path: path("M -27 71");
  }

  &.position--3 {
    offset-path: path("M -27 104");
  }

  &.position--4 {
    offset-path: path("M -27 137");
    visibility: hidden;
  }

  &.move {
    animation: move-note-on-slider duration-motion ease-in-out 1 forwards;

    &.from-5-to-4 {
      visibility: hidden;
    }

    &.from-4-to-3 {
      offset-path: path("M -27 -127 L -27 -94");
    }

    &.from-3-to-2 {
      offset-path: path("M -27 -94 L -27 -61");
    }

    &.from-2-to-1 {
      offset-path: path("M -27 -61 L -27 -28");
    }

    &.from-1-to-0 {
      offset-path: path("M -27 -28 L -27 5");
    }

    &.from-0-to--1 {
      offset-path: path("M -27 5 L -27 38");
    }

    &.from--1-to--2 {
      offset-path: path("M -27 38 L -27 71");
    }

    &.from--2-to--3 {
      offset-path: path("M -27 71 L -27 104");
    }

    &.from--3-to--4 {
      offset-path: path("M -27 104 L -27 137");
    }

    &.from--4-to--5 {
      visibility: hidden;
    }

    &.from--5-to--4 {
      visibility: hidden;
    }

    &.from--4-to--3 {
      offset-path: path("M -27 137 L -27 104");
    }

    &.from--3-to--2 {
      offset-path: path("M -27 104 L -27 71");
    }

    &.from--2-to--1 {
      offset-path: path("M -27 71 L -27 38");
    }

    &.from--1-to-0 {
      offset-path: path("M -27 38 L -27 5");
    }

    &.from-0-to-1 {
      offset-path: path("M -27 5 L -27 -28");
    }

    &.from-1-to-2 {
      offset-path: path("M -27 -28 L -27 -61");
    }

    &.from-2-to-3 {
      offset-path: path("M -27 -61 L -27 -94");
    }

    &.from-3-to-4 {
      offset-path: path("M -27 -94 L -27 -127");
    }

    &.from-4-to-5 {
      visibility: hidden;
    }
  }
}
