@use "@/shared-css/animation" as animation;
@use "@/shared-css/position" as position;


$gone: 0;
$unselected: 0.4;
$selected: 1;


@keyframes fade-from-gone-to-selected {
  0% {
    opacity: $gone;
  }
  40% {
    opacity: $gone;
  }
  100% {
    opacity: $selected;
  }
}

@keyframes fade-from-gone-to-unselected {
  0% {
    opacity: $gone;
  }
  40% {
    opacity: $gone;
  }
  100% {
    opacity: $unselected;
  }
}

@keyframes fade-from-unselected-to-selected {
  0% {
    opacity: $unselected;
  }
  40% {
    opacity: $unselected;
  }
  100% {
    opacity: $selected;
  }
}


.root {
  offset-rotate: 0deg;

  &.gone {
    display: none;
    opacity: $gone;
  }

  &.unselected {
    opacity: $unselected;
  }

  &.selected {
    opacity: $selected;
  }

  &.fade-from-gone-to-selected {
    animation: fade-from-gone-to-selected animation.$duration linear 1 forwards;
  }

  &.fade-from-gone-to-unselected {
    animation: fade-from-gone-to-unselected animation.$duration linear 1 forwards;
  }

  &.fade-from-unselected-to-selected {
    animation: fade-from-unselected-to-selected animation.$duration linear 1 forwards;
  }

  &.fade-from-selected-to-unselected {
    animation: fade-from-unselected-to-selected animation.$duration linear 1 forwards reverse;
  }

  &.fade-from-unselected-to-gone {
    animation: fade-from-gone-to-unselected animation.$duration linear 1 forwards reverse;
  }

  &.fade-from-selected-to-gone {
    animation: fade-from-gone-to-selected animation.$duration linear 1 forwards reverse;
  }

  @for $position from -4 through 4 {
    &.position-#{$position} {
      offset-path: position.position-still-path($position);
    }
  }
}

.text {
  font-family: "PT Mono", monospace;
  text-anchor: middle;
}
