.solfege-text {
  text-anchor: middle;
}

/*
WARNING: Be careful not confuse position-3 with position--3.
The first represents position 3 (the top of the slider), and
the second represents position -3 (the bottom of the slider).
Positions 4 and -4 are just outside of the clipping region.
*/

.solfege-on-slider {
  offset-rotate: 0deg;
  font-family: "PT Mono", monospace;

  &.root {
    stroke: rgb(4, 51, 255);
  }

  &.position-4 {
    offset-path: path("M 0 -132");
  }

  &.position-3 {
    offset-path: path("M 0 -99");
  }

  &.position-2 {
    offset-path: path("M 0 -66");
  }

  &.position-1 {
    offset-path: path("M 0 -33");
  }

  &.position-0 {
    offset-path: path("M 0 0");
  }

  &.position--1 {
    offset-path: path("M 0 33");
  }

  &.position--2 {
    offset-path: path("M 0 66");
  }

  &.position--3 {
    offset-path: path("M 0 99");
  }

  &.position--4 {
    offset-path: path("M 0 132");
  }
}
