@use "@/shared-css/position" as position;


.solfege-text {
  text-anchor: middle;
}

.solfege-on-slider {
  offset-rotate: 0deg;
  font-family: "PT Mono", monospace;

  @for $position from -4 through 4 {
    &.position-#{$position} {
      offset-path: position.position-still-path($position);
    }
  }
}
