.key-degree-label {
  grid-row: 2;
  grid-column: 1;
  text-align: right;
  font-weight: bold;
}

.key-degree-content {
  grid-row: 2;
  grid-column: 2;
}

.key-degree-font {
  font-family: "PT Mono", monospace;
}
