@use "sass:map" as map;
@use "sass:math" as math;
@use "@/shared-css/unit-circle" as unit-circle;
@use "@/shared-css/path" as path;


$radius: 80;
$x-font-offset: -5;
$y-font-offset: 5;

@function point($natural-note, $sharps-count) {
  $hour-of-natural-note: map.get($hour-by-natural-note, $natural-note);
  $hour: unit-circle.hour($hour-of-natural-note + $sharps-count);
  $character-count: math.abs($sharps-count) + 1;
  $x: $radius * unit-circle.x-at($hour) + $character-count * $x-font-offset;
  $y: $radius * unit-circle.y-at($hour) + $y-font-offset;
  @return "#{$x} #{$y}";
}

$hour-by-natural-note: (
  "D": 0,
  "E": 2,
  "F": 3,
  "G": 5,
  "A": 7,
  "B": 9,
  "C": 10
);
