@value color-black, duration-motion from "../constants.css";

@keyframes move-note-dot {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

.note-dot {
  offset-rotate: 0deg;
  fill: color-blue;

  &.move {
    animation: move-note-dot duration-motion ease-in-out 1 forwards;
  }

  &.hour-0 {
    offset-path: path("M 0 -120");
  }

  &.hour-1 {
    offset-path: path("M 60 -103.92304845413263");
  }

  &.hour-2 {
    offset-path: path("M 103.92304845413263 -60");
  }

  &.hour-3 {
    offset-path: path("M 120 0");
  }

  &.hour-4 {
    offset-path: path("M 103.92304845413263 60");
  }

  &.hour-5 {
    offset-path: path("M 60 103.92304845413263");
  }

  &.hour-6 {
    offset-path: path("M 0 120");
  }

  &.hour-7 {
    offset-path: path("M -60 103.92304845413263");
  }

  &.hour-8 {
    offset-path: path("M -103.92304845413263 60");
  }

  &.hour-9 {
    offset-path: path("M -120 0");
  }

  &.hour-10 {
    offset-path: path("M -103.92304845413263 -60");
  }

  &.hour-11 {
    offset-path: path("M -60 -103.92304845413263");
  }

  &.from-0-to-1 {
    offset-path: path("M 0 -120 A 120 120, 0, 0, 1, 60 -103.92304845413263");
  }

  &.from-1-to-2 {
    offset-path: path("M 60 -103.92304845413263 A 120 120, 0, 0, 1, 103.92304845413263 -60");
  }

  &.from-2-to-3 {
    offset-path: path("M 103.92304845413263 -60 A 120 120, 0, 0, 1, 120 0");
  }

  &.from-3-to-4 {
    offset-path: path("M 120 0 A 120 120, 0, 0, 1, 103.92304845413263 60");
  }

  &.from-4-to-5 {
    offset-path: path("M 103.92304845413263 60 A 120 120, 0, 0, 1, 60 103.92304845413263");
  }

  &.from-5-to-6 {
    offset-path: path("M 60 103.92304845413263 A 120 120, 0, 0, 1, 0 120");
  }

  &.from-6-to-7 {
    offset-path: path("M 0 120 A 120 120, 0, 0, 1, -60 103.92304845413263");
  }

  &.from-7-to-8 {
    offset-path: path("M -60 103.92304845413263 A 120 120, 0, 0, 1, -103.92304845413263 60");
  }

  &.from-8-to-9 {
    offset-path: path("M -103.92304845413263 60 A 120 120, 0, 0, 1, -120 0");
  }

  &.from-9-to-10 {
    offset-path: path("M -120 0 A 120 120, 0, 0, 1, -103.92304845413263 -60");
  }

  &.from-10-to-11 {
    offset-path: path("M -103.92304845413263 -60 A 120 120, 0, 0, 1, -60 -103.92304845413263");
  }

  &.from-11-to-0 {
    offset-path: path("M -60 -103.92304845413263 A 120 120, 0, 0, 1, 0 -120");
  }

  &.from-0-to-11 {
    offset-path: path("M 0 -120 A 120 120, 0, 0, 0, -60 -103.92304845413263");
  }

  &.from-11-to-10 {
    offset-path: path("M -60 -103.92304845413263 A 120 120, 0, 0, 0, -103.92304845413263 -60");
  }

  &.from-10-to-9 {
    offset-path: path("M -103.92304845413263 -60 A 120 120, 0, 0, 0, -120 0");
  }

  &.from-9-to-8 {
    offset-path: path("M -120 0 A 120 120, 0, 0, 0, -103.92304845413263 60");
  }

  &.from-8-to-7 {
    offset-path: path("M -103.92304845413263 60 A 120 120, 0, 0, 0, -60 103.92304845413263");
  }

  &.from-7-to-6 {
    offset-path: path("M -60 103.92304845413263 A 120 120, 0, 0, 0, 0 120");
  }

  &.from-6-to-5 {
    offset-path: path("M 0 120 A 120 120, 0, 0, 0, 60 103.92304845413263");
  }

  &.from-5-to-4 {
    offset-path: path("M 60 103.92304845413263 A 120 120, 0, 0, 0, 103.92304845413263 60");
  }

  &.from-4-to-3 {
    offset-path: path("M 103.92304845413263 60 A 120 120, 0, 0, 0, 120 0");
  }

  &.from-3-to-2 {
    offset-path: path("M 120 0 A 120 120, 0, 0, 0, 103.92304845413263 -60");
  }

  &.from-2-to-1 {
    offset-path: path("M 103.92304845413263 -60 A 120 120, 0, 0, 0, 60 -103.92304845413263");
  }

  &.from-1-to-0 {
    offset-path: path("M 60 -103.92304845413263 A 120 120, 0, 0, 0, 0 -120");
  }
}
