@value color-black from "../constants.css";

.note-dot {
  fill: color-black;
  offset-rotate: 0deg;

  &.do {
    &.only {
      offset-path: path("M 0,-120");
    }
  }

  &.re {
    &.early {
      offset-path: path("M 60,-103.92304845413263");
    }

    &.late {
      offset-path: path("M 103.92304845413263,-60");
    }
  }

  &.mi {
    &.early {
      offset-path: path("M 120,0");
    }

    &.late {
      offset-path: path("M 103.92304845413263,60");
    }
  }

  &.fa {
    &.early {
      offset-path: path("M 60,103.92304845413263");
    }

    &.late {
      offset-path: path("M 0,120");
    }
  }

  &.sol {
    &.early {
      offset-path: path("M 0,120");
    }

    &.late {
      offset-path: path("M -60,103.92304845413263");
    }
  }

  &.la {
    &.early {
      offset-path: path("M -103.92304845413263,60");
    }

    &.late {
      offset-path: path("M -120,0");
    }
  }

  &.ti {
    &.early {
      offset-path: path("M -103.92304845413263,-60");
    }

    &.late {
      offset-path: path("M -60,-103.92304845413263");
    }
  }
}
