@value color-light-gray, color-dark-gray, color-blue from "../constants.css";

.tick {
  stroke-width: 3;
  stroke: color-light-gray;

  &.occupied {
    stroke: color-dark-gray;

    &.root {
      stroke-width: 7;
      stroke: color-blue;
    }
  }
}
