@value duration-motion from "../../constants.css";

@keyframes appear {
  0% {
    fill-opacity: 0;
  }
  40% {
    fill-opacity: 0;
  }
  100% {
    fill-opacity: 1;
  }
}

tspan.appear {
  animation: appear duration-motion linear 1 forwards;
}

tspan.disappear {
  animation: appear duration-motion linear 1 forwards reverse;
}

@keyframes move-note-label {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

.note-label {
  offset-rotate: 0deg;
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal;

  &.move {
    animation: move-note-label duration-motion ease-in-out 1 forwards;
  }

  &.note-D♭♭ {
    offset-path: path("M -84.28203230275508 -35");
  }

  &.note-D♭ {
    offset-path: path("M -50 -64.28203230275508");
  }

  &.note-D {
    offset-path: path("M -5 -75");
  }

  &.note-D♯ {
    offset-path: path("M 30 -64.28203230275508");
  }

  &.note-D♯♯ {
    offset-path: path("M 54.28203230275508 -35");
  }

  &.note-E♭♭ {
    offset-path: path("M -15 -75");
  }

  &.note-E♭ {
    offset-path: path("M 30 -64.28203230275508");
  }

  &.note-E {
    offset-path: path("M 64.28203230275508 -35");
  }

  &.note-E♯ {
    offset-path: path("M 70 5");
  }

  &.note-E♯♯ {
    offset-path: path("M 54.28203230275508 45");
  }

  &.note-F♭♭ {
    offset-path: path("M 25 -64.28203230275508");
  }

  &.note-F♭ {
    offset-path: path("M 59.28203230275508 -35");
  }

  &.note-F {
    offset-path: path("M 75 5");
  }

  &.note-F♯ {
    offset-path: path("M 59.28203230275508 45");
  }

  &.note-F♯♯ {
    offset-path: path("M 25 74.28203230275508");
  }

  &.note-G♭♭ {
    offset-path: path("M 65 5");
  }

  &.note-G♭ {
    offset-path: path("M 59.28203230275508 45");
  }

  &.note-G {
    offset-path: path("M 35 74.28203230275508");
  }

  &.note-G♯ {
    offset-path: path("M -10 85");
  }

  &.note-G♯♯ {
    offset-path: path("M -55 74.28203230275508");
  }

  &.note-A♭♭ {
    offset-path: path("M 25 74.28203230275508");
  }

  &.note-A♭ {
    offset-path: path("M -10 85");
  }

  &.note-A {
    offset-path: path("M -45 74.28203230275508");
  }

  &.note-A♯ {
    offset-path: path("M -79.28203230275508 45");
  }

  &.note-A♯♯ {
    offset-path: path("M -95 5");
  }

  &.note-B♭♭ {
    offset-path: path("M -55 74.28203230275508");
  }

  &.note-B♭ {
    offset-path: path("M -79.28203230275508 45");
  }

  &.note-B {
    offset-path: path("M -85 5");
  }

  &.note-B♯ {
    offset-path: path("M -79.28203230275508 -35");
  }

  &.note-B♯♯ {
    offset-path: path("M -55 -64.28203230275508");
  }

  &.note-C♭♭ {
    offset-path: path("M -84.28203230275508 45");
  }

  &.note-C♭ {
    offset-path: path("M -90 5");
  }

  &.note-C {
    offset-path: path("M -74.28203230275508 -35");
  }

  &.note-C♯ {
    offset-path: path("M -50 -64.28203230275508");
  }

  &.note-C♯♯ {
    offset-path: path("M -15 -75");
  }

  &.from-D♭♭-to-D♭ {
    offset-path: path("M -84.28203230275508 -35 L -50 -64.28203230275508");
  }

  &.from-D♭-to-D {
    offset-path: path("M -50 -64.28203230275508 L -5 -75");
  }

  &.from-D-to-D♯ {
    offset-path: path("M -5 -75 L 30 -64.28203230275508");
  }

  &.from-D♯-to-D♯♯ {
    offset-path: path("M 30 -64.28203230275508 L 54.28203230275508 -35");
  }

  &.from-E♭♭-to-E♭ {
    offset-path: path("M -15 -75 L 30 -64.28203230275508");
  }

  &.from-E♭-to-E {
    offset-path: path("M 30 -64.28203230275508 L 64.28203230275508 -35");
  }

  &.from-E-to-E♯ {
    offset-path: path("M 64.28203230275508 -35 L 70 5");
  }

  &.from-E♯-to-E♯♯ {
    offset-path: path("M 70 5 L 54.28203230275508 45");
  }

  &.from-F♭♭-to-F♭ {
    offset-path: path("M 25 -64.28203230275508 L 59.28203230275508 -35");
  }

  &.from-F♭-to-F {
    offset-path: path("M 59.28203230275508 -35 L 75 5");
  }

  &.from-F-to-F♯ {
    offset-path: path("M 75 5 L 59.28203230275508 45");
  }

  &.from-F♯-to-F♯♯ {
    offset-path: path("M 59.28203230275508 45 L 25 74.28203230275508");
  }

  &.from-G♭♭-to-G♭ {
    offset-path: path("M 65 5 L 59.28203230275508 45");
  }

  &.from-G♭-to-G {
    offset-path: path("M 59.28203230275508 45 L 35 74.28203230275508");
  }

  &.from-G-to-G♯ {
    offset-path: path("M 35 74.28203230275508 L -10 85");
  }

  &.from-G♯-to-G♯♯ {
    offset-path: path("M -10 85 L -55 74.28203230275508");
  }

  &.from-A♭♭-to-A♭ {
    offset-path: path("M 25 74.28203230275508 L -10 85");
  }

  &.from-A♭-to-A {
    offset-path: path("M -10 85 L -45 74.28203230275508");
  }

  &.from-A-to-A♯ {
    offset-path: path("M -45 74.28203230275508 L -79.28203230275508 45");
  }

  &.from-A♯-to-A♯♯ {
    offset-path: path("M -79.28203230275508 45 L -95 5");
  }

  &.from-B♭♭-to-B♭ {
    offset-path: path("M -55 74.28203230275508 L -79.28203230275508 45");
  }

  &.from-B♭-to-B {
    offset-path: path("M -79.28203230275508 45 L -85 5");
  }

  &.from-B-to-B♯ {
    offset-path: path("M -85 5 L -79.28203230275508 -35");
  }

  &.from-B♯-to-B♯♯ {
    offset-path: path("M -79.28203230275508 -35 L -55 -64.28203230275508");
  }

  &.from-C♭♭-to-C♭ {
    offset-path: path("M -84.28203230275508 45 L -90 5");
  }

  &.from-C♭-to-C {
    offset-path: path("M -90 5 L -74.28203230275508 -35");
  }

  &.from-C-to-C♯ {
    offset-path: path("M -74.28203230275508 -35 L -50 -64.28203230275508");
  }

  &.from-C♯-to-C♯♯ {
    offset-path: path("M -50 -64.28203230275508 L -15 -75");
  }

  &.from-D♯♯-to-D♯ {
    offset-path: path("M 54.28203230275508 -35 L 30 -64.28203230275508");
  }

  &.from-D♯-to-D {
    offset-path: path("M 30 -64.28203230275508 L -5 -75");
  }

  &.from-D-to-D♭ {
    offset-path: path("M -5 -75 L -50 -64.28203230275508");
  }

  &.from-D♭-to-D♭♭ {
    offset-path: path("M -50 -64.28203230275508 L -84.28203230275508 -35");
  }

  &.from-E♯♯-to-E♯ {
    offset-path: path("M 54.28203230275508 45 L 70 5");
  }

  &.from-E♯-to-E {
    offset-path: path("M 70 5 L 64.28203230275508 -35");
  }

  &.from-E-to-E♭ {
    offset-path: path("M 64.28203230275508 -35 L 30 -64.28203230275508");
  }

  &.from-E♭-to-E♭♭ {
    offset-path: path("M 30 -64.28203230275508 L -15 -75");
  }

  &.from-F♯♯-to-F♯ {
    offset-path: path("M 25 74.28203230275508 L 59.28203230275508 45");
  }

  &.from-F♯-to-F {
    offset-path: path("M 59.28203230275508 45 L 75 5");
  }

  &.from-F-to-F♭ {
    offset-path: path("M 75 5 L 59.28203230275508 -35");
  }

  &.from-F♭-to-F♭♭ {
    offset-path: path("M 59.28203230275508 -35 L 25 -64.28203230275508");
  }

  &.from-G♯♯-to-G♯ {
    offset-path: path("M -55 74.28203230275508 L -10 85");
  }

  &.from-G♯-to-G {
    offset-path: path("M -10 85 L 35 74.28203230275508");
  }

  &.from-G-to-G♭ {
    offset-path: path("M 35 74.28203230275508 L 59.28203230275508 45");
  }

  &.from-G♭-to-G♭♭ {
    offset-path: path("M 59.28203230275508 45 L 65 5");
  }

  &.from-A♯♯-to-A♯ {
    offset-path: path("M -95 5 L -79.28203230275508 45");
  }

  &.from-A♯-to-A {
    offset-path: path("M -79.28203230275508 45 L -45 74.28203230275508");
  }

  &.from-A-to-A♭ {
    offset-path: path("M -45 74.28203230275508 L -10 85");
  }

  &.from-A♭-to-A♭♭ {
    offset-path: path("M -10 85 L 25 74.28203230275508");
  }

  &.from-B♯♯-to-B♯ {
    offset-path: path("M -55 -64.28203230275508 L -79.28203230275508 -35");
  }

  &.from-B♯-to-B {
    offset-path: path("M -79.28203230275508 -35 L -85 5");
  }

  &.from-B-to-B♭ {
    offset-path: path("M -85 5 L -79.28203230275508 45");
  }

  &.from-B♭-to-B♭♭ {
    offset-path: path("M -79.28203230275508 45 L -55 74.28203230275508");
  }

  &.from-C♯♯-to-C♯ {
    offset-path: path("M -15 -75 L -50 -64.28203230275508");
  }

  &.from-C♯-to-C {
    offset-path: path("M -50 -64.28203230275508 L -74.28203230275508 -35");
  }

  &.from-C-to-C♭ {
    offset-path: path("M -74.28203230275508 -35 L -90 5");
  }

  &.from-C♭-to-C♭♭ {
    offset-path: path("M -90 5 L -84.28203230275508 45");
  }
}
