@use "@/utilities/animation" as animation;
@use "@/utilities/noteLabel" as note-label;
@use "@/utilities/path" as path;


@keyframes move-note-label {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}


.note-label {
  offset-rotate: 0deg;
  font-family: "PT Mono", monospace;

  $natural-notes: "A", "B", "C", "D", "E", "F", "G";

  @each $natural-note in $natural-notes {
    &.note-#{$natural-note}♭♭ {
      offset-path: path.still-path(
        note-label.point($natural-note, -2)
      );
    }

    &.note-#{$natural-note}♭ {
      offset-path: path.still-path(
        note-label.point($natural-note, -1)
      );
    }

    &.note-#{$natural-note} {
      offset-path: path.still-path(
        note-label.point($natural-note, 0)
      );
    }

    &.note-#{$natural-note}♯ {
      offset-path: path.still-path(
        note-label.point($natural-note, 1)
      );
    }

    &.note-#{$natural-note}♯♯ {
      offset-path: path.still-path(
        note-label.point($natural-note, 2)
      );
    }
  }

  @each $natural-note in $natural-notes {
    &.move-from-#{$natural-note}♭♭-to-#{$natural-note}♭ {
      animation: move-note-label animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(
        note-label.point($natural-note, -2),
        note-label.point($natural-note, -1)
      );
    }

    &.move-from-#{$natural-note}♭-to-#{$natural-note} {
      animation: move-note-label animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(
        note-label.point($natural-note, -1),
        note-label.point($natural-note, 0)
      );
    }

    &.move-from-#{$natural-note}-to-#{$natural-note}♯ {
      animation: move-note-label animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(
        note-label.point($natural-note, 0),
        note-label.point($natural-note, 1)
      );
    }

    &.move-from-#{$natural-note}♯-to-#{$natural-note}♯♯ {
      animation: move-note-label animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(
        note-label.point($natural-note, 1),
        note-label.point($natural-note, 2)
      );
    }

    &.move-from-#{$natural-note}♯♯-to-#{$natural-note}♯ {
      animation: move-note-label animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(
        note-label.point($natural-note, 2),
        note-label.point($natural-note, 1)
      );
    }

    &.move-from-#{$natural-note}♯-to-#{$natural-note} {
      animation: move-note-label animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(
        note-label.point($natural-note, 1),
        note-label.point($natural-note, 0)
      );
    }

    &.move-from-#{$natural-note}-to-#{$natural-note}♭ {
      animation: move-note-label animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(
        note-label.point($natural-note, 0),
        note-label.point($natural-note, -1)
      );
    }

    &.move-from-#{$natural-note}♭-to-#{$natural-note}♭♭ {
      animation: move-note-label animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(
        note-label.point($natural-note, -1),
        note-label.point($natural-note, -2)
      );
    }
  }
}
