@use "@/shared-css/animation" as animation;
@use "@/shared-css/label" as label;
@use "@/shared-css/path" as path;


@keyframes move-note-label {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}


.note-label {
  offset-rotate: 0deg;
  font-family: "PT Mono", monospace;

  &.note-D♭♭ {
    offset-path: path.still-path(label.$D♭♭-point);
  }

  &.note-D♭ {
    offset-path: path.still-path(label.$D♭-point);
  }

  &.note-D {
    offset-path: path.still-path(label.$D-point);
  }

  &.note-D♯ {
    offset-path: path.still-path(label.$D♯-point);
  }

  &.note-D♯♯ {
    offset-path: path.still-path(label.$D♯♯-point);
  }

  &.note-E♭♭ {
    offset-path: path.still-path(label.$E♭♭-point);
  }

  &.note-E♭ {
    offset-path: path.still-path(label.$E♭-point);
  }

  &.note-E {
    offset-path: path.still-path(label.$E-point);
  }

  &.note-E♯ {
    offset-path: path.still-path(label.$E♯-point);
  }

  &.note-E♯♯ {
    offset-path: path.still-path(label.$E♯♯-point);
  }

  &.note-F♭♭ {
    offset-path: path.still-path(label.$F♭♭-point);
  }

  &.note-F♭ {
    offset-path: path.still-path(label.$F♭-point);
  }

  &.note-F {
    offset-path: path.still-path(label.$F-point);
  }

  &.note-F♯ {
    offset-path: path.still-path(label.$F♯-point);
  }

  &.note-F♯♯ {
    offset-path: path.still-path(label.$F♯♯-point);
  }

  &.note-G♭♭ {
    offset-path: path.still-path(label.$F♭♭-point);
  }

  &.note-G♭ {
    offset-path: path.still-path(label.$G♭-point);
  }

  &.note-G {
    offset-path: path.still-path(label.$G-point);
  }

  &.note-G♯ {
    offset-path: path.still-path(label.$G♯-point);
  }

  &.note-G♯♯ {
    offset-path: path.still-path(label.$G♯♯-point);
  }

  &.note-A♭♭ {
    offset-path: path.still-path(label.$A♭♭-point);
  }

  &.note-A♭ {
    offset-path: path.still-path(label.$A♭-point);
  }

  &.note-A {
    offset-path: path.still-path(label.$A-point);
  }

  &.note-A♯ {
    offset-path: path.still-path(label.$A♯-point);
  }

  &.note-A♯♯ {
    offset-path: path.still-path(label.$A♯♯-point);
  }

  &.note-B♭♭ {
    offset-path: path.still-path(label.$B♭♭-point);
  }

  &.note-B♭ {
    offset-path: path.still-path(label.$B♭-point);
  }

  &.note-B {
    offset-path: path.still-path(label.$B-point);
  }

  &.note-B♯ {
    offset-path: path.still-path(label.$B♯-point);
  }

  &.note-B♯♯ {
    offset-path: path.still-path(label.$B♯♯-point);
  }

  &.note-C♭♭ {
    offset-path: path.still-path(label.$C♭♭-point);
  }

  &.note-C♭ {
    offset-path: path.still-path(label.$C♭-point);
  }

  &.note-C {
    offset-path: path.still-path(label.$C-point);
  }

  &.note-C♯ {
    offset-path: path.still-path(label.$C♯-point);
  }

  &.note-C♯♯ {
    offset-path: path.still-path(label.$C♯♯-point);
  }

  &.move-from-D♭♭-to-D♭ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$D♭♭-point, label.$D♭-point);
  }

  &.move-from-D♭-to-D {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$D♭-point, label.$D-point);
  }

  &.move-from-D-to-D♯ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$D-point, label.$D♯-point);
  }

  &.move-from-D♯-to-D♯♯ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$D♯-point, label.$D♯♯-point);
  }

  &.move-from-E♭♭-to-E♭ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$E♭♭-point, label.$E♭-point);
  }

  &.move-from-E♭-to-E {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$E♭-point, label.$E-point);
  }

  &.move-from-E-to-E♯ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$E-point, label.$E♯-point);
  }

  &.move-from-E♯-to-E♯♯ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$E♯-point, label.$E♯♯-point);
  }

  &.move-from-F♭♭-to-F♭ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$F♭♭-point, label.$F♭-point);
  }

  &.move-from-F♭-to-F {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$F♭-point, label.$F-point);
  }

  &.move-from-F-to-F♯ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$F-point, label.$F♯-point);
  }

  &.move-from-F♯-to-F♯♯ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$F♯-point, label.$F♯♯-point);
  }

  &.move-from-G♭♭-to-G♭ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$G♭♭-point, label.$G♭-point);
  }

  &.move-from-G♭-to-G {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$G♭-point, label.$G-point);
  }

  &.move-from-G-to-G♯ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$G-point, label.$G♯-point);
  }

  &.move-from-G♯-to-G♯♯ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$G♯-point, label.$G♯♯-point);
  }

  &.move-from-A♭♭-to-A♭ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$A♭♭-point, label.$A♭-point);
  }

  &.move-from-A♭-to-A {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$A♭-point, label.$A-point);
  }

  &.move-from-A-to-A♯ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$A-point, label.$A♯-point);
  }

  &.move-from-A♯-to-A♯♯ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$A♯-point, label.$A♯♯-point);
  }

  &.move-from-B♭♭-to-B♭ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$B♭♭-point, label.$B♭-point);
  }

  &.move-from-B♭-to-B {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$B♭-point, label.$B-point);
  }

  &.move-from-B-to-B♯ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$B-point, label.$B♯-point);
  }

  &.move-from-B♯-to-B♯♯ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$B♯-point, label.$B♯♯-point);
  }

  &.move-from-C♭♭-to-C♭ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$C♭♭-point, label.$C♭-point);
  }

  &.move-from-C♭-to-C {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$C♭-point, label.$C-point);
  }

  &.move-from-C-to-C♯ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$C-point, label.$C♯-point);
  }

  &.move-from-C♯-to-C♯♯ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$C♯-point, label.$C♯♯-point);
  }

  &.move-from-D♯♯-to-D♯ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$D♯♯-point, label.$D♯-point);
  }

  &.move-from-D♯-to-D {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$D♯-point, label.$D-point);
  }

  &.move-from-D-to-D♭ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$D-point, label.$D♭-point);
  }

  &.move-from-D♭-to-D♭♭ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$D♭-point, label.$D♭♭-point);
  }

  &.move-from-E♯♯-to-E♯ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$E♯♯-point, label.$E♯-point);
  }

  &.move-from-E♯-to-E {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$E♯-point, label.$E-point);
  }

  &.move-from-E-to-E♭ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$E-point, label.$E♭-point);
  }

  &.move-from-E♭-to-E♭♭ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$E♭-point, label.$E♭♭-point);
  }

  &.move-from-F♯♯-to-F♯ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$F♯♯-point, label.$F♯-point);
  }

  &.move-from-F♯-to-F {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$F♯-point, label.$F-point);
  }

  &.move-from-F-to-F♭ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$F-point, label.$F♭-point);
  }

  &.move-from-F♭-to-F♭♭ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$F♭-point, label.$F♭♭-point);
  }

  &.move-from-G♯♯-to-G♯ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$G♯♯-point, label.$G♯-point);
  }

  &.move-from-G♯-to-G {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$G♯-point, label.$G-point);
  }

  &.move-from-G-to-G♭ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$G-point, label.$G♭-point);
  }

  &.move-from-G♭-to-G♭♭ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$G♭-point, label.$G♭♭-point);
  }

  &.move-from-A♯♯-to-A♯ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$A♯♯-point, label.$A♯-point);
  }

  &.move-from-A♯-to-A {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$A♯-point, label.$A-point);
  }

  &.move-from-A-to-A♭ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$A-point, label.$A♭-point);
  }

  &.move-from-A♭-to-A♭♭ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$A♭-point, label.$A♭♭-point);
  }

  &.move-from-B♯♯-to-B♯ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$B♯♯-point, label.$B♯-point);
  }

  &.move-from-B♯-to-B {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$B♯-point, label.$B-point);
  }

  &.move-from-B-to-B♭ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$B-point, label.$B♭-point);
  }

  &.move-from-B♭-to-B♭♭ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$B♭-point, label.$B♭♭-point);
  }

  &.move-from-C♯♯-to-C♯ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$C♯♯-point, label.$C♯-point);
  }

  &.move-from-C♯-to-C {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$C♯-point, label.$C-point);
  }

  &.move-from-C-to-C♭ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$C-point, label.$C♭-point);
  }

  &.move-from-C♭-to-C♭♭ {
    animation: move-note-label animation.$duration ease-in-out 1 forwards;
    offset-path: path.linear-path(label.$C♭-point, label.$C♭♭-point);
  }
}
