@use "../../config.scss" as config;
@use "../../constant.scss" as constant;


@keyframes move-note-dot {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}


.note-dot {
  offset-rotate: 0deg;
  fill: black;

  &.hour-0 {
    offset-path: constant.$hour-0-offset-path;
  }

  &.hour-1 {
    offset-path: constant.$hour-1-offset-path;
  }

  &.hour-2 {
    offset-path: constant.$hour-2-offset-path;
  }

  &.hour-3 {
    offset-path: constant.$hour-3-offset-path;
  }

  &.hour-4 {
    offset-path: constant.$hour-4-offset-path;
  }

  &.hour-5 {
    offset-path: constant.$hour-5-offset-path;
  }

  &.hour-6 {
    offset-path: constant.$hour-6-offset-path;
  }

  &.hour-7 {
    offset-path: constant.$hour-7-offset-path;
  }

  &.hour-8 {
    offset-path: constant.$hour-8-offset-path;
  }

  &.hour-9 {
    offset-path: constant.$hour-9-offset-path;
  }

  &.hour-10 {
    offset-path: constant.$hour-10-offset-path;
  }

  &.hour-11 {
    offset-path: constant.$hour-11-offset-path;
  }

  &.move-from-0-to-7 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M 0 -120 L -60 103.92304845413263");
  }

  &.move-from-7-to-2 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M -60 103.92304845413263 L 103.92304845413263 -60");
  }

  &.move-from-2-to-9 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M 103.92304845413263 -60 L -120 0");
  }

  &.move-from-9-to-4 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M -120 0 L 103.92304845413263 60");
  }

  &.move-from-4-to-11 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M 103.92304845413263 60 L -60 -103.92304845413263");
  }

  &.move-from-11-to-6 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M -60 -103.92304845413263 L 0 120");
  }

  &.move-from-6-to-1 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M 0 120 L 60 -103.92304845413263");
  }

  &.move-from-1-to-8 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M 60 -103.92304845413263 L -103.92304845413263 60");
  }

  &.move-from-8-to-3 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M -103.92304845413263 60 L 120 0");
  }

  &.move-from-3-to-10 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M 120 0 L -103.92304845413263 -60");
  }

  &.move-from-10-to-5 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M -103.92304845413263 -60 L 60 103.92304845413263");
  }

  &.move-from-5-to-0 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M 60 103.92304845413263 L 0 -120");
  }

  &.move-from-0-to-5 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M 0 -120 L 60 103.92304845413263");
  }

  &.move-from-5-to-10 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M 60 103.92304845413263 L -103.92304845413263 -60");
  }

  &.move-from-10-to-3 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M -103.92304845413263 -60 L 120 0");
  }

  &.move-from-3-to-8 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M 120 0 L -103.92304845413263 60");
  }

  &.move-from-8-to-1 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M -103.92304845413263 60 L 60 -103.92304845413263");
  }

  &.move-from-1-to-6 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M 60 -103.92304845413263 L 0 120");
  }

  &.move-from-6-to-11 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M 0 120 L -60 -103.92304845413263");
  }

  &.move-from-11-to-4 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M -60 -103.92304845413263 L 103.92304845413263 60");
  }

  &.move-from-4-to-9 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M 103.92304845413263 60 L -120 0");
  }

  &.move-from-9-to-2 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M -120 0 L 103.92304845413263 -60");
  }

  &.move-from-2-to-7 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M 103.92304845413263 -60 L -60 103.92304845413263");
  }

  &.move-from-7-to-0 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M -60 103.92304845413263 L 0 -120");
  }

  &.move-from-0-to-1 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M 0 -120 a 120 120, 0, 0, 1, 60 16.07695154586737");
  }

  &.move-from-1-to-2 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M 60 -103.92304845413263 a 120 120, 0, 0, 1, 43.923048454132626 43.923048454132626");
  }

  &.move-from-2-to-3 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M 103.92304845413263 -60 a 120 120, 0, 0, 1, 16.07695154586737 60");
  }

  &.move-from-3-to-4 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M 120 0 a 120 120, 0, 0, 1, -16.07695154586737 60");
  }

  &.move-from-4-to-5 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M 103.92304845413263 60 a 120 120, 0, 0, 1, -43.923048454132626 43.923048454132626");
  }

  &.move-from-5-to-6 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M 60 103.92304845413263 a 120 120, 0, 0, 1, -60 16.07695154586737");
  }

  &.move-from-6-to-7 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M 0 120 a 120 120, 0, 0, 1, -60 -16.07695154586737");
  }

  &.move-from-7-to-8 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M -60 103.92304845413263 a 120 120, 0, 0, 1, -43.923048454132626 -43.923048454132626");
  }

  &.move-from-8-to-9 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M -103.92304845413263 60 a 120 120, 0, 0, 1, -16.07695154586737 -60");
  }

  &.move-from-9-to-10 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M -120 0 a 120 120, 0, 0, 1, 16.07695154586737 -60");
  }

  &.move-from-10-to-11 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M -103.92304845413263 -60 a 120 120, 0, 0, 1, 43.923048454132626 -43.923048454132626");
  }

  &.move-from-11-to-0 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M -60 -103.92304845413263 a 120 120, 0, 0, 1, 60 -16.07695154586737");
  }

  &.move-from-0-to-11 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M 0 -120 a 120 120, 0, 0, 0, -60 16.07695154586737");
  }

  &.move-from-11-to-10 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M -60 -103.92304845413263 a 120 120, 0, 0, 0, -43.923048454132626 43.923048454132626");
  }

  &.move-from-10-to-9 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M -103.92304845413263 -60 a 120 120, 0, 0, 0, -16.07695154586737 60");
  }

  &.move-from-9-to-8 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M -120 0 a 120 120, 0, 0, 0, 16.07695154586737 60");
  }

  &.move-from-8-to-7 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M -103.92304845413263 60 a 120 120, 0, 0, 0, 43.923048454132626 43.923048454132626");
  }

  &.move-from-7-to-6 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M -60 103.92304845413263 a 120 120, 0, 0, 0, 60 16.07695154586737");
  }

  &.move-from-6-to-5 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M 0 120 a 120 120, 0, 0, 0, 60 -16.07695154586737");
  }

  &.move-from-5-to-4 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M 60 103.92304845413263 a 120 120, 0, 0, 0, 43.923048454132626 -43.923048454132626");
  }

  &.move-from-4-to-3 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M 103.92304845413263 60 a 120 120, 0, 0, 0, 16.07695154586737 -60");
  }

  &.move-from-3-to-2 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M 120 0 a 120 120, 0, 0, 0, -16.07695154586737 -60");
  }

  &.move-from-2-to-1 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M 103.92304845413263 -60 a 120 120, 0, 0, 0, -43.923048454132626 -43.923048454132626");
  }

  &.move-from-1-to-0 {
    animation: move-note-dot config.$duration-motion ease-in-out 1 forwards;
    offset-path: path("M 60 -103.92304845413263 a 120 120, 0, 0, 0, -60 -16.07695154586737");
  }
}
