@use "@/shared-css/animation" as animation;
@use "@/shared-css/clock" as clock;
@use "@/shared-css/path" as path;
@use "@/shared-css/solfege-label" as solfege-label;
@use "@/shared-css/unit-circle" as unit-circle;


@keyframes move-solfege-label {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}


.solfege-label {
  offset-rotate: 0deg;

   @for $hour from 0 through 11 {
    &.hour-#{$hour} {
      offset-path: path.still-path(solfege-label.hour-point($hour));
    }
  }

  @for $hour-a from 0 through 11 {
    $hour-b: unit-circle.hour($hour-a + 1);

    &.move-from-#{$hour-a}-to-#{$hour-b} {
      animation: move-solfege-label animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(solfege-label.hour-point($hour-a), solfege-label.hour-point($hour-b));
    }

    &.move-from-#{$hour-b}-to-#{$hour-a} {
      animation: move-solfege-label animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(solfege-label.hour-point($hour-b), solfege-label.hour-point($hour-a));
    }
  }

  @for $hour-a from 0 through 11 {
    $hour-b: unit-circle.hour($hour-a + 6);

    &.move-from-#{$hour-a}-to-#{$hour-b} {
      animation: move-solfege-label animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(solfege-label.hour-point($hour-a), solfege-label.hour-point($hour-b));
    }
  }

  @for $hour-a from 0 through 11 {
    $hour-b: unit-circle.hour($hour-a + 7);

    &.move-from-#{$hour-a}-to-#{$hour-b} {
      animation: move-solfege-label animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(solfege-label.hour-point($hour-a), solfege-label.hour-point($hour-b));
    }

    &.move-from-#{$hour-b}-to-#{$hour-a} {
      animation: move-solfege-label animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(solfege-label.hour-point($hour-b), solfege-label.hour-point($hour-a));
    }
  }
}

.text {
  font-family: "PT Mono", monospace;
}
