@use "@/shared-css/animation" as animation;
@use "@/shared-css/path" as path;
@use "@/shared-css/position" as position;


@keyframes move-triangle {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}


.triangle {
  offset-rotate: 0deg;

  @for $position from -3 through 3 {
    &.position-#{$position} {
      offset-path: position.position-still-path($position);
    }
  }

  @for $position-a from -3 through 2 {
    $position-b: $position-a + 1;

    &.move-from-#{$position-a}-to-#{$position-b} {
      animation: move-triangle animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(position.point($position-a), position.point($position-b));
    }

    &.move-from-#{$position-b}-to-#{$position-a} {
      animation: move-triangle animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(position.point($position-b), position.point($position-a));
    }
  }
}
