@value duration-motion from "../../constants.css";

@keyframes move-located-note {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

.located-note {
  font-family: "PT Mono", monospace;
  offset-rotate: 0deg;

  &.location-0 {
    offset-path: path("M 228 -100");
  }

  &.location-1 {
    offset-path: path("M 228 -65");
  }

  &.location-2 {
    offset-path: path("M 228 -30");
  }

  &.location-3 {
    offset-path: path("M 228 5");
  }

  &.location-4 {
    offset-path: path("M 228 40");
  }

  &.location-5 {
    offset-path: path("M 228 75");
  }

  &.location-6 {
    offset-path: path("M 228 110");
  }

  &.move {
    animation: move-located-note duration-motion ease-in-out 1 forwards;

    &.from--1-to-0 {
      offset-path: path("M 228 -135 L 228 -100");
    }

    &.from-0-to-1 {
      offset-path: path("M 228 -100 L 228 -65");
    }

    &.from-1-to-2 {
      offset-path: path("M 228 -65 L 228 -30");
    }

    &.from-2-to-3 {
      offset-path: path("M 228 -30 L 228 5");
    }

    &.from-3-to-4 {
      offset-path: path("M 228 5 L 228 40");
    }

    &.from-4-to-5 {
      offset-path: path("M 228 40 L 228 75");
    }

    &.from-5-to-6 {
      offset-path: path("M 228 75 L 228 110");
    }

    &.from-6-to-7 {
      offset-path: path("M 228 110 L 228 145");
    }

    &.from-7-to-6 {
      offset-path: path("M 228 145 L 228 110");
    }

    &.from-6-to-5 {
      offset-path: path("M 228 110 L 228 75");
    }

    &.from-5-to-4 {
      offset-path: path("M 228 75 L 228 40");
    }

    &.from-4-to-3 {
      offset-path: path("M 228 40 L 228 5");
    }

    &.from-3-to-2 {
      offset-path: path("M 228 5 L 228 -30");
    }

    &.from-2-to-1 {
      offset-path: path("M 228 -30 L 228 -65");
    }

    &.from-1-to-0 {
      offset-path: path("M 228 -65 L 228 -100");
    }

    &.from-0-to--1 {
      offset-path: path("M 228 -100 L 228 -135");
    }
  }
}
