@value duration-motion, color-blue from "../../constants.css";

@keyframes move-located-solfege {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

.located-solfege {
  offset-rotate: 0deg;
  font-family: "PT Mono", monospace;

  &.root {
    stroke: color-blue;
  }

  &.location-0 {
    offset-path: path("M 190 -105");
  }

  &.location-1 {
    offset-path: path("M 190 -70");
  }

  &.location-2 {
    offset-path: path("M 190 -35");
  }

  &.location-3 {
    offset-path: path("M 190 0");
  }

  &.location-4 {
    offset-path: path("M 190 35");
  }

  &.location-5 {
    offset-path: path("M 190 70");
  }

  &.location-6 {
    offset-path: path("M 190 105");
  }

  &.move {
    animation: move-located-solfege duration-motion ease-in-out 1 forwards;

    &.from--1-to-0 {
      offset-path: path("M 190 -140 L 190 -105");
    }

    &.from-0-to-1 {
      offset-path: path("M 190 -105 L 190 -70");
    }

    &.from-1-to-2 {
      offset-path: path("M 190 -70 L 190 -35");
    }

    &.from-2-to-3 {
      offset-path: path("M 190 -35 L 190 0");
    }

    &.from-3-to-4 {
      offset-path: path("M 190 0 L 190 35");
    }

    &.from-4-to-5 {
      offset-path: path("M 190 35 L 190 70");
    }

    &.from-5-to-6 {
      offset-path: path("M 190 70 L 190 105");
    }

    &.from-6-to-7 {
      offset-path: path("M 190 105 L 190 140");
    }

    &.from-7-to-6 {
      offset-path: path("M 190 140 L 190 105");
    }

    &.from-6-to-5 {
      offset-path: path("M 190 105 L 190 70");
    }

    &.from-5-to-4 {
      offset-path: path("M 190 70 L 190 35");
    }

    &.from-4-to-3 {
      offset-path: path("M 190 35 L 190 0");
    }

    &.from-3-to-2 {
      offset-path: path("M 190 0 L 190 -35");
    }

    &.from-2-to-1 {
      offset-path: path("M 190 -35 L 190 -70");
    }

    &.from-1-to-0 {
      offset-path: path("M 190 -70 L 190 -105");
    }

    &.from-0-to--1 {
      offset-path: path("M 190 -105 L 190 -140");
    }
  }
}
